* {
  padding: 0;
  margin: 0;
}

.header_icon {
  display: flex;
  align-items: center;
}
.header_icon li {
  list-style: none;
}
.header_icon li:first-of-type {
  margin-right: 15px;
  position: relative;
  top: -3px;
}
.header_icon li:last-of-type {
  margin-left: 7px;
}

.container {
  max-width: 1064px;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  top: 7px;
}

header {
  padding-top: 15px;
}

.nav-link {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.main_banner {
  background: #F0EFEB;
  padding: 90px 0;
}
.main_banner h1 {
  font-family: "Roboto";
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.main_banner h1 p {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.main_banner img {
  position: relative;
  top: -90px;
}
@media screen and (max-width: 767px) {
  .main_banner img {
    width: 100%;
    top: 0;
  }
}

.btn {
  border-radius: 17px;
}

.guides {
  padding: 60px 0 88px;
}
.guides h2 {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}
.guides p {
  max-width: 632px;
  margin: auto;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}
.guides p:first-of-type {
  margin: 27px auto 47px;
}

.sellers {
  padding-bottom: 182px;
}
.sellers h2 {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-bottom: 52px;
}
.sellers .card {
  max-width: 309px;
  display: inline-block;
  border: none;
}
.sellers .card .card-body {
  padding: 0;
}
.sellers .card .card-body h5 {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin: 27px 0 17px;
}
.sellers .card .card-body p {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-bottom: 4px;
}
.sellers .card .card-body a {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  text-decoration: underline;
  transition: 0.4s;
}
.sellers .card .card-body a:hover {
  color: #491217;
}

.people {
  background: #F0EFEB;
  padding: 76px 0 51px;
}
.people .container {
  max-width: 1064px;
}
@media screen and (max-width: 991px) {
  .people .container .row .col-md-5 img {
    margin-bottom: 20px;
    width: 100%;
  }
}
.people .container .row .card {
  min-width: 309px;
  display: inline-block;
  border: none;
  background: #F0EFEB;
}
.people .container .row .card img {
  max-height: 525px;
  max-width: 385px;
  width: 100%;
}
.people .container .row h3 {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-top: 20px;
}
.people .container .row p {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin: 31px auto 40px;
}
.people .container .row a {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  text-decoration: underline;
  transition: 0.4s;
}
.people .container .row a:hover {
  color: #491217;
}

.culture {
  background: rgba(204, 204, 204, 0.6);
  padding: 76px 0 50px;
}
.culture .container {
  max-width: 1164px;
}
@media screen and (max-width: 991px) {
  .culture .container .col-md-5 img {
    margin-top: 20px;
    width: 100%;
  }
}
.culture .container h3 {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: right;
  color: #000000;
}
.culture .container p {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: right;
  color: #000000;
  margin: 31px auto 40px;
}
.culture .container a {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #000000;
}
.culture .container a:hover {
  text-decoration-line: underline;
}

.power {
  background: rgba(204, 204, 204, 0.3019607843);
  padding: 76px 0 51px;
}
.power .container {
  max-width: 1064px;
}
@media screen and (max-width: 991px) {
  .power .container .row .col-md-5 img {
    margin-bottom: 20px;
    width: 100%;
  }
}
.power .container .row .card {
  min-width: 309px;
  display: inline-block;
  border: none;
  background: #F0EFEB;
}
.power .container .row .card img {
  max-height: 525px;
  max-width: 385px;
  width: 100%;
}
.power .container .row h3 {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-top: 20px;
}
.power .container .row p {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin: 31px auto 40px;
}
.power .container .row a {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  text-decoration: underline;
  transition: 0.4s;
}
.power .container .row a:hover {
  color: #491217;
}

.make_thalby {
  padding: 190px 0 52px;
}
.make_thalby article {
  margin-bottom: 111px;
}
.make_thalby h3 {
  margin-bottom: 69px;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}
.make_thalby p {
  margin-top: 26px;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
